.letter{
	margin: 0px 0px -10px 5px;	
}

.ui-page-theme-a .ui-header.ui-bar-inherit {
    background:#FFC0CB;
}

.ui-page-theme-a .ui-footer.ui-bar-inherit {
    background:#FFC0CB;
}

.exclamation{
	width:15px;
	margin: 0px 0px -1px 0px;	
}

.laugh{
	width:20px;
	margin: 0px 0px -5px 0px;	
}

.face-shot{
	width:50px;
}

.momo{
	background:#ffe7e9;
	padding: 5px 5px 5px 5px;
}

.chaeyoung{
	background:#dcf5eb;
	padding: 5px 5px 5px 5px;
}

.dahyun{
	background:#f3fbb2;
	padding: 5px 5px 5px 5px;
}

.sana{
	background:#fff4b2;
	padding: 5px 5px 5px 5px;
}

.tzuyu{
	background:#d9fafc;
	padding: 5px 5px 5px 5px;
}

.jeongyeon{
	background:#fde6c2;
	padding: 5px 5px 5px 5px;
}

.jihyo{
	background:#f9eaf9;
	padding: 5px 5px 5px 5px;
}

.mina{
	background:#ddfef2;
	padding: 5px 5px 5px 5px;
}

.nayeon{
	background:#fad2d8;
	padding: 5px 5px 5px 5px;
}

.once{
	background:#F0FFFF;
	padding: 5px 5px 5px 5px;
}

.cheeky{
	background:#ead7dd;
	padding: 5px 5px 5px 5px;
}

.staff{
	background:#e1efe7;
	padding: 5px 5px 5px 5px;
}










.tbody{
	vertical-align: text-top;	
}